FORMAT: 1A
HOST: http://10.102.3.112:8080

# The API for MDB

## Important Info

File is identified by 3 fields:

```json
{
    "file_name": "mlt_o_rav_2017-01-04_lesson_boker_part1", 
    "created_at": 1484155956,
    "sha1": "4d4ad60c11738630178a08560362a0b2c323f87a",
}
```

Currently the only exception where those fields may be skipped is the `capture_start` command which does not have `sha1` field.

We are still (Feb 2017) not not forcing `created_at`, but will start soon (March 2017).

